# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
.env/
.venv/

# IDE settings
.idea/
.vscode/

# Poetry and build artifacts
poetry.lock
dist/
build/
*.egg-info/

# Application
*.db*

# Others
.DS_Store
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.swm